body{
    margin: 0;
    right:0;
    left:0
 }
 
 .nav{
    background-color: #f77f00;
    color: white;
    display:flex;
    padding-left: 125px;
 }
 
 .num{
    margin-right: 110px;
    cursor:pointer;
 }
 
 .stud{
    margin-right: 130px;
    cursor:pointer;
 }
 
 .screen{
    margin-right: 60px;
    cursor: pointer;
 }
 
 #call{
    margin-top: 18px;
    width:18px;
    height:18px;
    cursor: pointer;
 }
 
 .nav img{
    width:30px;
    height: 30px;
    border-radius: 100%;
    margin-top: 14px;
    margin-left:10px;
    cursor: pointer;
 }
 
 .nav p{
    margin-top: 20px;
    margin-left: -20px;
    padding-left: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
 }
 
 #one{
    margin-top: 10px;
    border-radius: 40px;
    padding: 8px 10px;
    animation: blink 2s infinite;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
 }
 
 @keyframes blink{
    0%{
        background-color: #f48107;
        color: #fff;
        padding: 8px 10px;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }
    100%{
        background-color: #0e254f;
        opacity: 2;
        color: #fff;
        padding: 8px 10px;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }
 }
 
 .nav2{
    display: flex;
    background-color:#48246e !important;
    color: white;
    position: sticky; 
    top:0;
    right: 0;
    left:0;
    padding-left: 20px;
 }
 
 video{
    width: 100%;
    background-repeat: no-repeat;
    left:0;
    right: 0;
 }
 
 .nav3 img{
    width:300px;
    margin-left: 90px;
    cursor: pointer;
    
 }
 
 #img img{
    border-radius: 15px;
    width: 100%;
    height:80px;
    cursor: pointer;
 }
 .footer{
    display: flex;
    background-color: #48246e;
 }
 .quick h3{
    padding-top: 40px;
    padding-left: 200px;
    color: #f48107;
    font-family: Arial, Helvetica, sans-serif;
 }
 .quick p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    color: #fff;
    cursor: pointer;
 }
 .address img{
    padding-left: 450px;
    padding-top: 20px;
    width:490px;
    height: 320px;
 }
 #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    background-color:#f48107;
    color: white;
    cursor: pointer;
    width:30px;
    height: 30px;
    border-radius: 50px;
 }
 .about{
     box-sizing: border-box;
     width:1000px;
     margin: auto;
     padding: 25px;
 }
 .about img{
     width: 100%;
 }
 .about h2{
     font-family: Arial, Helvetica, sans-serif;
     color: #f48107;
 }
 .about p{
     font-size: 17px;
     font-family: Arial, Helvetica, sans-serif;
     line-height: 1.66em;
 }
 .banner p{
             position: absolute;
             top:725px;
             margin-left: 1165px;
             font-size: 20px;
             font-family: Arial, Helvetica, sans-serif;
             background-color: #f48107;
             padding: 5px;
             color:#fff;
             opacity: 0.9;
         }
 